
    <div id="sidebarContent">
      <ul class="nav nav-sidebar">
        <li class="nav-label">Quick Start</li>
        <li ><a href="overview.html">Overview</a></li>
        <li><a href="getting-started.html">Getting Started</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li class="nav-label">Community Resources</li>
        <li><a href="https://medium.com/interledger-blog">Blog &amp; Tutorials</a></li>
        <li><a href="libraries.html">Libraries &amp; Tools</a></li>
        <li><a href="summit-2019.html">ILP Summit 2019 Videos</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li class="nav-label">Specs</li>
        <!--    <li><a href="rfcs/0001-interledger-architecture/">Interledger Architecture</a></li> -->
        <li><a href="0027-interledger-protocol-4.html">Interledger Protocol 4 (ILPv4)</a></li>
        <li><a href="0015-ilp-addresses.html">Interledger Addresses</a></li>
        <li><a href="0029-stream.html">STREAM Protocol</a></li>
        <li><a href="0009-simple-payment-setup-protocol.html">Simple Payment Setup Protocol (SPSP)</a></li>
        <li><a href="0026-payment-pointers.html">Payment Pointers</a></li>
        <li><a href="0028-web-monetization.html">Web Monetization</a></li>
        <li><a href="0030-notes-on-oer-encoding.html">Notes on OER encoding</a></li>
        <li><a href="0031-dynamic-configuration-protocol.html">Dynamic Configuration Protocol (ILDCP)</a></li>
        <li><a href="0032-peering-clearing-settlement.html">Peering, Clearing and Settlement</a></li>
        <li><a href="0035-ilp-over-http.html">ILP over HTTP</a></li>
        <li><a href="0036-spsp-pull-payments.html">SPSP Pull Payments</a></li>
        <li><a target="_blank" href="https://w3c.github.io/webpayments/proposals/interledger-payment-method.html">W3C Web Payments Interledger Payment Method</a></li>
      </ul>
    </div>
  